---
interface Props {
    title: string;
    description: string;
    imageUrl: string;
}

const { title, description, imageUrl }= Astro.props;
---
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>{ title }</h1>
            <p>{ description }</p>
        </div>
    </div>
</div>