---
import "../styles/global.css";
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<!doctype html>
<html lang="es">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    </head>
    <body>
            <Header />
    <!--Header de Presentacion -->
            <div class="px-4 py-5 my-5 text-center bg-body">
                <img class="d-block mx-auto mb-4" src="/Logo-astro.svg" alt="" width="72" height="57">
                <h1 class="display-5 fw-bold text-body-emphasis">¡Hola Astropolita!</h1>
                <div class="col-lg-6 mx-auto">
                  <p class="lead mb-4">Reserva el mejor momento para nuestro encuentro✨</p>
                </div>
            </div> 
    <!--Explicacion del Mail de Confirmacion -->
    <div class="container col-12">
      <h3 class="text-center fs-3 p-5">Una vez realizada la reserva recibirás un @Email de confirmación</h3>
      <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-sm bg-body">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <p class="fs-sm">
                Si es tu primer acercamiento a la astrología es recomendable la sesión de Carta natal, al tener una mayor duración facilita mayor profundidad e información.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card card-cover h-100 overflow-hidden rounded-4 shadow-sm bg-body">
            <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
              <p class="fs-sm">
                Si ya conoces tu Carta natal y sientes interés en una información determinada, es tu retorno solar, un momento de cambios, enfoque o proyecto la sesión de 50 minutos es la mas adecuada.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Opciones de Reserva -->
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2">Opciones de Reserva</h2>
        <div class="accordion" id="accordionReserva">
          <!--Carta Natal -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button id="CartaNatalH2" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CartaNatal" aria-expanded="true" aria-controls="CartaNatal">
                CARTA NATAL
              </button>
            </h2>
            <div id="CartaNatal" class="accordion-collapse collapse" data-bs-parent="#accordionReserva">
              <div class="accordion-body">
                <p>Una carta natal es una representación gráfica de la posición de los planetas en el momento exacto del nacimiento de una persona. </p>
                <p>Esta herramienta se utiliza en la astrología para interpretar la sincronía que los cuerpos celestes tienen en la personalidad, los eventos y el destino de un individuo o del colectivo.</p>
                <p>Para elaborar una carta natal, se necesita conocer la fecha, la hora exacta* y el lugar exactos del nacimiento de la persona. </p>
                <p>A partir de esta información, se calcula la posición de los planetas, el Sol y la Luna en los signos zodiacales y en las diferentes casas astrológicas. Cada planeta y cada casa representan diferentes aspectos de la personalidad y de la vida de la persona.</p>
                <p><strong>Duración: </strong>1h 40min</p>
                <p><strong>Precio: </strong>90,00€</p>
                <div class="row"></div>
                  <button type="button" class="btn btn-light col-6 border">Pide Cita</button>
                  <button type="button" class="btn btn-light col-5 border">Solicitar Certificado de nacimiento</button>
              </div>
            </div>
          </div>
          <!--Sesión de Astrología -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" id="SAstrologiaH2" type="button" data-bs-toggle="collapse" data-bs-target="#SAstrologia" aria-expanded="false" aria-controls="SAstrologia">
                SESIÓN DE ASTROLOGÍA
              </button>
            </h2>
            <div id="SAstrologia" class="accordion-collapse collapse" data-bs-parent="#accordionReserva">
              <div class="accordion-body">
                <p><strong>Duración: </strong>50 min</p>
               <p><strong>Precio: </strong>45€</p> 
               <ul class="list-group">
                <li class="list-group-item">Carta Natal Breve</li>
                <li class="list-group-item">Tránsitos Planetarios</li>
                <li class="list-group-item">Retorno Solar</li>
                <li class="list-group-item">Retornos Lunares</li>
                <li class="list-group-item">Astrología Dracónica</li>
                <li class="list-group-item">Astrología Electiva</li>
                <li class="list-group-item">Astrología Empresarial</li>
              </ul>
              </div>
            </div>
          </div>
          <!--Astrología Vincular -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" id="AVincularH2" type="button" data-bs-toggle="collapse" data-bs-target="#AVincular" aria-expanded="false" aria-controls="AVincular">
                ASTROLOGÍA VINCULAR
              </button>
            </h2>
            <div id="AVincular" class="accordion-collapse collapse" data-bs-parent="#accordionReserva">
              <div class="accordion-body">
                <ul class="list-group">
                  <li class="list-group-item"><p></p><strong>Sinastría</strong> análisis y descripción del vínculo desde una perspectiva relacional, analizamos como interactuan entre si ambas cartas.</p></li>
                  <li class="list-group-item"><p><strong>Carta compuesta</strong>  análisis y descripición del vínculo desde una perpectiva de unidad, analizamos como interacciona la relación con el mundo</p></li>
                  <li class="list-group-item"><p><strong>Evolución del vínculo</strong> análisis y descripción del vinculo desde una análisis minucioso del recorrido vincular, teniendo en cuenta los tránsitos y direcciones que recibe tanto la sinastria como la carta compuesta.
                    Nos ayuda a comprender los diferentes momentos y etapas por las que transcurre un vínculo determinado.</p></li>
              </ul>
              </div>
            </div>
          </div>
          <!--Rectificación de la Hora de Nacimiento -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" id="RectificacionH2" type="button" data-bs-toggle="collapse" data-bs-target="#Rectificacion" aria-expanded="false" aria-controls="Rectificacion">
                RECTIFICACIÓN DE LA HORA DE NACIMIENTO
              </button>
            </h2>
            <div id="Rectificacion" class="accordion-collapse collapse" data-bs-parent="#accordionReserva">
             <div class="accordion-body">
                <p>La rectificación de la hora de nacimiento es un proceso en la astrología utilizado cuando la hora exacta de nacimiento de una persona es desconocida o incierta. En muchos casos, la hora registrada puede no ser precisa debido a diversos factores, como errores humanos, discrepancias entre relojes, o simplemente porque no se tomó nota en el momento.</p>
                <p>Durante la rectificación, se trabaja con la persona para recopilar información sobre eventos significativos en su vida, como matrimonios, cambios de trabajo, mudanzas, entre otros, para intentar determinar la hora más precisa posible de su nacimiento.</p>
                <p>Este proceso implica analizar patrones astrológicos y correlacionarlos con eventos importantes en la vida del individuo.</p>
                <p>La rectificación de la hora de nacimiento puede ser un desafío y requiere habilidades y experiencia profesional.</p>
                <p>Sin embargo, cuando se hace con precisión, puede proporcionar una base más sólida para una interpretación precisa de la carta natal y una comprensión más profunda de la persona y su destino.</p>
                <p><strong>Duración:</strong>El tiempo aproximado de entrega de una rectificación es de 2 semanas. Este tiempo se puede extender o acortar dependiendo de la diferencia con la hora real de nacimiento, a mayor distancia mayor complejidad para dar con la hora exacta</p>
                <p>Para realizar correctamente una rectificación de la hora de Nacimiento es necesario disponer de la hora que aparece registrada o en su defecto de la hora aproximada de la que se tenga conocimiento, además de un listado de mínimo 10 eventos significativos ocurridos en diferentes momentos y áreas de la vida de la persona.</p>
                <p>No se recomienda rectificar la hora de nacimiento cuando hay una diferencia de mas de una hora entre la hora conocida y la hora real de nacimiento, ya que los cálculos pueden generar distorsión y dificultar la búsqueda de la hora </p>
                <p></p><strong>Precio: </strong>90,00€</p>
              </div>
            </div>
          </div>
          <!--APRENDIZAJE ASTROLÓGICO -->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" id="AprendizageH2" data-bs-target="#Aprendizage" aria-expanded="false" aria-controls="Aprendizage">
                APRENDIZAJE ASTROLÓGICO
              </button>
            </h2>
            <div id="Aprendizage" class="accordion-collapse collapse" data-bs-parent="#AcordAA">
              <div class="accordion-body">
                <p>En nuestra Sección de Aprendizaje Astrológico, tienes la oportunidad de aprender exactamente lo que deseas, a tu propio ritmo y según tus intereses, a través de consultas privadas personalizadas.</p>
                <!--Opciones de Aprendizage astrologico -->
                <div class="accordion" id="AcordAA">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#AD" aria-expanded="true" aria-controls="#AD">
                        Aprendizaje a Demanda
                      </button>
                    </h2>
                    <div id="AD" class="accordion-collapse collapse show" data-bs-parent="#AcordAA">
                      <div class="accordion-body">
                       <p>Diseña tu propia experiencia educativa. </p>
                       <p>Tú decides los temas astrológicos que deseas explorar, desde los fundamentos de la astrología hasta técnicas avanzadas.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#FT" aria-expanded="false" aria-controls="FT">
                        Flexibilidad Total
                      </button>
                    </h2>
                    <div id="FT" class="accordion-collapse collapse" data-bs-parent="#AcordAA">
                      <div class="accordion-body">
                        <p>Aprende lo que quieras, cuando quieras</p>
                        <p>Nuestras consultas están diseñadas para adaptarse a tu horario y a tus necesidades específicas.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CP" aria-expanded="false" aria-controls="CP">
                        Consultas Personalizadas
                      </button>
                    </h2>
                    <div id="CP" class="accordion-collapse collapse" data-bs-parent="#AcordAA">
                      <div class="accordion-body">
                          <p>Reserva una consulta privada:</p>
                          <p>Te proporcionará orientación personalizada y te ayudará a profundizar en los temas astrológicos que más te interesen.</p>
                      </div>
                    </div>
                  </div>
                </div>
<!--Como empezar (Aprendizage Astrologico) -->
                <h2>Como empezar?</h2>
                <div class="accordion" id="questionEmpezar">
                  <div class="accordion-item">                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
                    <h2 class="accordion-header">
                      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#reservaConsulta" aria-expanded="true" aria-controls="reservaConsulta">
                        1. Reserva tu consulta: 
                      </button>
                    </h2>
                    <div id="reservaConsulta" class="accordion-collapse collapse show" data-bs-parent="#reservaConsulta">
                      <div class="accordion-body">
                        <p>Agenda una cita privada, estableceremos un plan de aprendizaje adaptado a tus intereses y objetivos.</p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#interesesC" aria-expanded="false" aria-controls="interesesC">
                        2. Explora tus intereses: 
                    </h2>
                    <div id="interesesC" class="accordion-collapse collapse" data-bs-parent="#questionEmpezar">
                      <div class="accordion-body">
                       <p>Durante tu consulta, podrás discutir y aprender sobre cualquier aspecto de la astrología que te intrigue, desde la interpretación de cartas natales hasta el entendimiento de tránsitos planetarios y más.</p>
                      </div>
                    </div> 
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#BeneficiosSession" aria-expanded="false" aria-controls="BeneficiosSession">
                        3. Beneficios de una sesión personalizada:
                      </button>
                    </h2>
                    <div id="BeneficiosSession" class="accordion-collapse collapse" data-bs-parent="#questionEmpezar">
                      <div class="accordion-body">
                        <strong>Atención Individualizada: </strong>
                        <p>Recibe orientación directa, personalizada y profesional</p>
                        <strong>Aprendizaje Profundo:</strong>
                        <p>Profundiza en los temas astrológicos que más te interesen con ayuda experta.</p>
                        <strong>Flexibilidad y Comodidad:</strong>
    
                        <p>Aprende a tu propio ritmo y según tu propio horario.</p>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    
    </div>
      </div>
            <Footer />  
      </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
      <script>
        var LocationActual = window.location;
        if (LocationActual.pathname != "/reservas") {  
          var hash = LocationActual.hash;
          console.log(LocationActual.hash);
          var id = LocationActual.hash.substring(1);
          switch (LocationActual.hash == hash) {
          case hash == "#CartaNatalH2":
            document.getElementById("CartaNatal").classList.toggle('show');
            break;
          case hash == "#SAstrologiaH2":
            document.getElementById("SAstrologia").classList.toggle('show'); 
            break;
          case hash == "#AVincularH2":
            document.getElementById("AVincular").classList.toggle('show');
            break;
          case hash == "#RectificacionH2":
            document.getElementById("Rectificacion").classList.toggle('show');
            break;
          case hash == "#AprendizageH2":
            document.getElementById("Aprendizage").classList.toggle('show');
            break;
            
        default:
          break;
      }}
      </script>
      </body>
</html>
