---
import LogoAstro from "../../public/Logo-astro.svg?raw";
import "../styles/global.css"
import "../styles/beem.css"
---
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><Fragment set:html={LogoAstro} /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!--Inicio -->
      <li class="nav-item active">
        <a class="nav-link" href="#">INICIO <span class="sr-only">(current)</span></a>
      </li>
      <!--Reservar Cita -->  
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          RESERVA CITA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">CARTA NATAL</a>
          <a class="dropdown-item" href="#">SESIÓN DE ASTROLOGÍA</a>
          <a class="dropdown-item" href="#">ASTROLOGÍA VINCULAR</a>
          <a class="dropdown-item" href="#">RECTIFICACIÓN DE LA HORA DE NACIMIENTO</a>
          <a class="dropdown-item" href="#">APRENDIZAJE ASTROLÓGICO</a>
        </div>
      </li>
      <!--Sobre la Astrología -->
      <li class="nav-item">
        <a class="nav-link" href="#">SOBRE LA ASTROLOGÍA</a>
      </li>
      <!--Sobre Mi -->
      <li class="nav-item">
        <a class="nav-link" href="#">SOBRE MI</a>
      </li>
      <!--Contacto -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          CONTACTO
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">CALENDARIO</a>
          <a class="dropdown-item" href="#">EVENTOS</a>
          <a class="dropdown-item" href="#">FORMACIONES</a>
          <a class="dropdown-item" href="#">PUBLICACIONES</a>
          <a class="dropdown-item" href="#">CALENDARIO ASTROLÓGICO</a>
        </div>
      </li>
      <!--Blog -->
      <li class="nav-item">
        <a class="nav-link" href="#">BLOG</a>
      </li>
      <!--Viajes -->
      <li class="nav-item">
        <a class="nav-link" href="#">VIAJES</a>
      </li>
    <!--Podcast -->
      <li class="nav-item">
        <a class="nav-link" href="#">PODCAST</a>
      </li>
    <!--Acceso premium -->
      <li class="nav-item">
        <a class="nav-link" href="#">ACCESO PREMIUM</a>
      </li>
    </ul>
  </div>
</nav>
