---
import { SITE_TITLE } from '../consts';
---
 <div class="p-5 my-5 text-center">
  <h1 class="display-5 fw-bold text-body-emphasis">{SITE_TITLE}</h1>
</div>
<div class="key-container">
</div>
  <style>
    .key-container {
        background-image: url("/Greek-Key.png");
        height: 1.5em;
        width: 100%;
        background-size: contain;
    }
  </style>