---
import LogoAstro from "../../public/Logo-astro.svg?raw";
import HeaderLink from "./HeaderLink.astro";
---
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <HeaderLink href="/" class="navbar-brand" aria-current="page"><Fragment set:html={LogoAstro} /></HeaderLink>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">ASTRóPOLIS</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <!--INICIO -->
            <li class="nav-item">
              <HeaderLink href="/" class="navbar-brand" aria-current="page">INICIO</HeaderLink>
            </li>
            <!--RESERVAR CITA -->
            <li class="nav-item dropdown">
              <HeaderLink href="/reservas/#CartaNatal" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">RESERVAR CITA</HeaderLink>
              <ul class="dropdown-menu">
                <li><HeaderLink href="/reservas" class="dropdown-item">INICIO</HeaderLink></li>
                <li><a href="/reservas/#CartaNatalH2" id="ButtonCartaNatal" class="dropdown-item">CARTA NATAL</a></li>
                <li><a class="dropdown-item" id="astrologSesionLink" href="/reservas/#SAstrologiaH2">SESIÓN DE ASTROLOGÍA</a></li>
                <li><a class="dropdown-item" href="/reservas/#AVincularH2">ASTROLOGÍA VINCULAR</a></li>
                <li><a class="dropdown-item" href="/reservas/#RectificacionH2">RECTIFICACIÓN HORA DE NACIMIENTO</a></li>
                <li><a class="dropdown-item" href="/reservas/#AprendizageH2">APRENDIZAJE ASTROLÓGICO</a></li>
              </ul>
            </li>
            <!--SOBRE LA ASTROLOGIA -->
            <li class="nav-item">
              <a class="nav-link" href="#">SOBRE LA ASTROLOGÍA</a>
            </li>
            <!--SOBRE MI -->
            <li class="nav-item">
              <a class="nav-link" href="#">SOBRE LA MI</a>
            </li>
            <!--CONTACTO -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                CONTACTO
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">CALENDARIO</a></li>
                <li><a class="dropdown-item" href="#">EVENTOS</a></li>
                <li><a class="dropdown-item" href="#">FORMACIONES</a></li>
                <li><a class="dropdown-item" href="#">PUBLICACIONES</a></li>
                <li><a class="dropdown-item" href="#">CALENDARIO ASTROLÓGICO</a></li>
              </ul>
            </li>
            <!--BLOG -->
            <li class="nav-item">
              <a class="nav-link" href="#">BLOG</a>
            </li>
            <!--PODCAST -->
            <li class="nav-item">
              <a class="nav-link" href="#">PODCAST</a>
            </li>
            <!--ACCESO PREMIUM -->
            <li class="nav-item">
              <a class="nav-link" href="#">ACCESO PREMIUM</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
</nav>
