---

---
<main>
    <section>
        <h2>Texto Explicacion Astrologia</h2>
        <p> 
            TEXTO EXPLICATIVO SOBRE ASTROLOGÍA, RECORRIDO EN TEXTO Y VISUAL EN EL QUE SE EXPLICA DE MANERA BREVE QUE ES LA ASTROLOGÍA Y SUS DIFERENTES USOS EN ASTRÓPOLIS
        </p>
    </section>
</main>